---
layout: default
title: Home
heroBanner: /img/splashbg.png

heroTitle: "It's a digital world."
subtitle: "I help high-growth companies shape their digital strategy to innovate online."
---

<div id="home" class="pageContent">
	{% include hero.html %}

  <h1>{{ site.title }}</h1>

  <div class="talkingPoints innerContent">
    <div class="talkingPoint">
      <h2>Digital is about more than a website</h2>
      <p>The digital world is complex and your customers use your business across a variety of digital channels and devices.</p>
    </div>
    <div class="talkingPoint">
      <h2>Digital strategy impacts culture</h2>
      <p>The internet is a catalyst for change, and every strong organization needs a culture that adapts to the pace of today's world.</p>
    </div>
    <div class="talkingPoint">
      <h2>You don't have to do it alone</h2>
      <p>Building design, digital marketing, product and technological teams isn't simple.</p>
    </div>
  </div>

  <div class="innerContent">
    <h1>Journal Posts</h1>
    <ul class="posts">
      {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>