  <div class="footer">
    <div class="innerFooter">
      <div class="contact">
        <p>
          Rohan Nair<br />
          Product Strategist and UX/UI Designer<br />
          hello@rohannair.ca
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="https://github.com/rohannair">github.com/rohannair</a><br />
          <a href="https://twitter.com/rohan10">twitter.com/rohan10</a><br />
          <a href="https://codepen.io/rohan10">codepen.io/rohan10</a><br />
        </p>
      </div>
    </div>
  </div>
</body>
</html>
