<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <!--   <link rel="stylesheet" href="/css/syntax.css"> -->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/screen.css">

  <!-- Typekit JS -->
  <script type="text/javascript" src="//use.typekit.net/ryb4etl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- JS libs -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

  <div class="header">
    <div class="innerHeader">

      <h1 class="title">
        <a href="/">
          <img src="/img/ro-head.svg" class="svg" alt="{{ site.name }}">
          <span>{{ site.name }}</span>
        </a>
      </h1>

      <nav class="mainNavigation">
        <a href="#">About</a>
        <a href="#">Work</a>
        <a href="#">Journal</a>
        <a href="#" class="emphasis">Contact</a>
      </nav>
      <a href="#" class="navButton">Menu</a>

    </div>
  </div>