/*------------------------------------*\
    #NEAT OVERRIDES
\*------------------------------------*/

@import '../libs/neat/neat-helpers';

$border-box-sizing: false;

/*------------------------------------*\
    #GLOBAL VARIABLE VALUES
\*------------------------------------*/
$brand-color: #477DCA;
$accent-color: #2E2E31;
$text-color: #96969D;

$serif-font: 'freight-text-pro', serif;
$sans-serif-font: 'nimbus-sans-condensed', 'adelle-sans', sans-serif;

