/*------------------------------------*\
    #COLOUR VARIABLES
\*------------------------------------*/

$color-main: $brand-color;
$color-heading: $accent-color;
$color-text: $text-color;
$color-emphasis: darken($text-color,20%);

/*------------------------------------*\
    #FONT VARIABLES
\*------------------------------------*/

$font-headings: $sans-serif-font;
$font-body: $serif-font;