@import "head-svg";

.header {
    @include fixedRow;
    background: $color-heading;
    line-height:4em;

    z-index: 5;
}

.innerHeader {
    @include outer-container;
    padding: 0.5em 0;
}

.title {
    @include span-columns(8);
    text-align:center;
    margin: 0;

    span {
        // display: none;
    }

    a:hover {
        border-bottom: 0;
    }

    @media screen and (min-width: 48rem) {
        @include span-columns(6);
        text-align: left;

        span {
            display: inline-block;
        }
    }
}

.svg {
    max-width: 4rem;
    vertical-align:middle;
    width: 100%;
    margin-right: 10px;
}

.mainNavigation {
    display:none;

    @media screen and (min-width: 48rem) {
        @include span-columns(4);
        float: right;        
    }

    a {
        margin-left: 0.5em;
        padding: 2px 7px 3px;

        @media screen and (min-width: 48rem) {
            text-align:left;
        }

        &.emphasis {
            background: $color-emphasis;
            border-radius: 3px;
            color: #fff;
        }
    }
}
.navButton {
    @include span-columns(2);
    float:right;
    text-align:center;

    @media screen and (min-width: 48rem) {
        display:none;
    }
}