.hero {
    @include coverBackground($color-heading, "");
    margin-bottom: 4em;
    position: relative;
}

.hero-inner {
    @include clearfix;
    background: rgba(black, 0.1);
    height: 34rem;
    padding: 1em;
    position:relative;
    text-align: center;
    z-index: 3;
}

.hero-copy {
    @include clearfix;
    @include vertical-align;
    
    text-align: center;
    color: #fff;
    h1, p {
        color: inherit;
        margin:0;
        text-shadow: 0 1px 0 rgba(black, 0.2);
    }
}