@mixin coverBackground($bgcolor, $url) {
    background: $bgcolor url($url) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin fixedRow() {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}