h1, h2, h3, h4, h5, h6 {
    font-family: $font-headings;
    font-weight: 900;
    margin-bottom: 2rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: $color-heading;
    text-transform: uppercase;
    line-height: 1;
}

h1, .alpha {
    font-size: 2.618rem;
}

h2, .beta {
    font-size: 2.427rem;
}

h3, .gamma {
    font-size: 1.618rem;
}

h4, .delta {
    font-size: 1.5rem;
    line-height: 1.2;
    em {
        font-weight: normal;
    }
}

.mega {
    font-size: 4.236rem;
}
.submega {
    font-size: 3.927rem;
}